## EDA
#### 1. Target variable distribution
#### 2. Feature visualization with Target variable
#### 3. Imputing missing values
#### 4. Fix Skewed features
#### 5. Feature Creation
#### 6. Feature Transformation
#### 7. Training a model
#### 8. Prediction

In [1]:
##pip install lightgbm
#conda install -c conda-forge xgboost
#pip install xgboost

In [2]:
#importing necessary models and libraries

#Math Lib
from scipy import stats
from scipy.stats import skew,norm  # for some statistics
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax
import scipy.stats as stats

#Visualizing Lib
import seaborn as sns
import matplotlib.pyplot as plt

#preprocessing Lib
import pandas as pd
import numpy as np

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import Imputer, LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split 

#ML Lib
from sklearn.linear_model import ElasticNetCV, LassoCV, RidgeCV
import sklearn.linear_model as linear_model
from sklearn.svm import SVR
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from mlxtend.regressor import StackingCVRegressor

In [3]:
#Importing data into dataframe
df =  pd.read_csv('C://Data/all_upt.csv')

In [4]:
#Displaying dataframe
df.head()

,Id,AboutMe,CreationDate,LastAccessDate,DisplayName,Location,country,AboutMe_length,activity_in_months,UpVotes,DownVotes,Reputation,Views,badges,Q_comments,A_comments,P_questions,P_answers
0,7784035,<p>This product may also help you to feel full...,2017-03-29 06:30:11.463 UTC,2017-03-29 06:30:11.463 UTC,berwenally,New York,usa,1407.0,0.0,0,0,1,2,1,10.0,11.0,12.0,13.0
1,9126518,<p>A simple way to keep your hands moisturized...,2017-12-21 10:07:00.237 UTC,2017-12-21 10:07:00.237 UTC,TeresaEWilliams,United States,usa,622.0,0.0,0,0,1,0,1,NaN,NaN,0.0,0.0
2,10021482,<p>Completely covers and protects your body pi...,2018-07-02 12:09:47.843 UTC,2018-07-02 13:30:11.797 UTC,kimberly02,Fremont,usa,370.0,0.0,0,0,1,1,1,NaN,NaN,0.0,0.0
3,2739419,<p>POOL TABLES FOR SALE CONTEMPORARY CLASSIC C...,2013-09-02 10:00:27.57 UTC,2013-09-02 10:00:27.57 UTC,USA Made Pool Tables,California,usa,400.0,0.0,0,0,1,1,1,NaN,NaN,0.0,0.0
4,1440631,<p>I am a Software Engineer</p>\n,2012-06-06 19:21:00.903 UTC,2012-06-06 19:36:13.78 UTC,twinkle,United States,usa,32.0,0.0,0,0,1,0,1,NaN,NaN,0.0,0.0

In [5]:
# subtitute missing values by zero
df = df.fillna(0)
#Displaying modified dataframe
df.head()

,Id,AboutMe,CreationDate,LastAccessDate,DisplayName,Location,country,AboutMe_length,activity_in_months,UpVotes,DownVotes,Reputation,Views,badges,Q_comments,A_comments,P_questions,P_answers
0,7784035,<p>This product may also help you to feel full...,2017-03-29 06:30:11.463 UTC,2017-03-29 06:30:11.463 UTC,berwenally,New York,usa,1407.0,0.0,0,0,1,2,1,10.0,11.0,12.0,13.0
1,9126518,<p>A simple way to keep your hands moisturized...,2017-12-21 10:07:00.237 UTC,2017-12-21 10:07:00.237 UTC,TeresaEWilliams,United States,usa,622.0,0.0,0,0,1,0,1,0.0,0.0,0.0,0.0
2,10021482,<p>Completely covers and protects your body pi...,2018-07-02 12:09:47.843 UTC,2018-07-02 13:30:11.797 UTC,kimberly02,Fremont,usa,370.0,0.0,0,0,1,1,1,0.0,0.0,0.0,0.0
3,2739419,<p>POOL TABLES FOR SALE CONTEMPORARY CLASSIC C...,2013-09-02 10:00:27.57 UTC,2013-09-02 10:00:27.57 UTC,USA Made Pool Tables,California,usa,400.0,0.0,0,0,1,1,1,0.0,0.0,0.0,0.0
4,1440631,<p>I am a Software Engineer</p>\n,2012-06-06 19:21:00.903 UTC,2012-06-06 19:36:13.78 UTC,twinkle,United States,usa,32.0,0.0,0,0,1,0,1,0.0,0.0,0.0,0.0

In [6]:
# create the independent variable vector
x = df.iloc[:,6:15].values
# Question dependent variable vector 
y = df.iloc[:, -2:-1].values
# Answer dependent variable vector 
z = df.iloc[:,-1:].values

In [7]:
# create labelEncoder object to transform categorical values into integers
x[:, 0] = LabelEncoder().fit_transform(x[:, 0])

In [8]:
y = LabelEncoder().fit_transform(y)

C:\Users\alamo248\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
z = LabelEncoder().fit_transform(z)

C:\Users\alamo248\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
# creating OneHotEncoder object to transform integer categorical values into dummy categorical
x = OneHotEncoder(categorical_features=[0]).fit_transform(x).toarray()

In [ ]:
# Create training and testing sets
x_train,x_test,y_train,y_test,z_train,z_test = train_test_split(x,y,z, test_size = 0.2, random_state = 0)